### Recommendations with MovieTweetings: Most Popular Recommendation

Now that you have created the necessary columns we will be using throughout the rest of the lesson on creating recommendations, let's get started with the first of our recommendations.

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [2]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863866 entries, 0 to 863865
Data columns (total 5 columns):
user_id      863866 non-null int64
movie_id     863866 non-null int64
rating       863866 non-null int64
timestamp    863866 non-null int64
date         863866 non-null object
dtypes: int64(4), object(1)
memory usage: 33.0+ MB

In [5]:
def ranked_movies_df(movies,reviews):
    movie_ratings = reviews.groupby('movie_id')['rating']
    avg_ratings = movie_ratings.mean()
    num_ratings = movie_ratings.count()
    last_ratings = pd.DataFrame(reviews.groupby('movie_id').max()['date'])
    last_ratings.columns = ['lasting_ratings']
    
    ratings_count_df = pd.DataFrame({"avg_ratings":avg_ratings,"num_ratings":num_ratings})
    ratings_count_df = ratings_count_df.join(last_ratings)
    
    movies_recs = movies.set_index("movie_id").join(ratings_count_df)
    ranked_movies = movies_recs.sort_values(['avg_ratings',"num_ratings","lasting_ratings"],ascending = False)
    
    ranked_movies = ranked_movies[ranked_movies['num_ratings'] > 4]
    
    return ranked_movies

In [6]:
ranked_movies = ranked_movies_df(movies,reviews)

In [7]:
def popular_recommendations(user_id, n_top,ranked_movies):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    top_movies = list(ranked_movies["movie"][:n_top])
    
    return top_movies # a list of the n_top movies as recommended

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [8]:
# Put your solutions for each of the cases here

# Top 20 movies recommended for id 1

recs_20_for_1 = popular_recommendations(user_id= "1" ,n_top=20,ranked_movies=ranked_movies)# Your solution list here

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations(user_id= "53968" ,n_top=5,ranked_movies=ranked_movies) # Your solution list here

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations(user_id= "70000" ,n_top=100,ranked_movies=ranked_movies) # Your solution list here

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations(user_id= "43" ,n_top=35,ranked_movies=ranked_movies) # Your solution list here

In [9]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

If you got here, looks like you are good to go!  Nice job!

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same? 

```
t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])
```

In [10]:
ranked_movies.head()

,movie,genre,date,1800's,1900's,2000's,Thriller,Music,Musical,Adult,...,Horror,Action,Drama,News,Mystery,Family,Adventure,avg_rating,num_ratings,last_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
4921860,MSG 2 the Messenger (2015),Comedy|Drama|Fantasy|Horror,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.0,48,2016-08-14-17-16-50
5262972,Avengers: Age of Ultron Parody (2015),Short|Comedy,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.0,28,2016-01-08-00-44-43
6662050,Five Minutes (2017),Short|Comedy,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.0,22,2019-04-20-22-29-19
2737018,Selam (2013),Drama|Romance,2013,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.0,10,2015-05-10-22-56-01
5804314,Let There Be Light (2017),Drama,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.0,7,2019-12-25-16-27-47

In [45]:
def filter1(df,years):
    #years = list(years)
    df1 = df[df['date'].isin(years)]
    return df1

In [47]:
filter1(ranked_movies,[2010,2011,2015,2017])

,movie,genre,date,1800's,1900's,2000's,Thriller,Music,Musical,Adult,...,Horror,Action,Drama,News,Mystery,Family,Adventure,avg_rating,num_ratings,last_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
4921860,MSG 2 the Messenger (2015),Comedy|Drama|Fantasy|Horror,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,48,2016-08-14-17-16-50
5262972,Avengers: Age of Ultron Parody (2015),Short|Comedy,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,28,2016-01-08-00-44-43
6662050,Five Minutes (2017),Short|Comedy,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,22,2019-04-20-22-29-19
5804314,Let There Be Light (2017),Drama,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,7,2019-12-25-16-27-47
4448444,Make Like a Dog (2015),Short|Comedy|Drama,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,5,2017-09-09-13-51-48
2059318,Third Contact (2011),Drama|Mystery|Sci-Fi|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,5,2014-02-13-15-48-31
6798422,Agnelli (2017),Documentary,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.800000,5,2018-05-15-22-39-34
1629443,Foster (2011),Comedy|Drama|Family,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.800000,5,2014-03-15-23-37-57
5732482,Hans Zimmer Live on Tour (2017),Documentary|Music,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.600000,5,2019-09-01-19-58-06
6333054,Chasing Coral (2017),Documentary,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.400000,10,2019-01-17-15-11-00
5476944,Kuroshitsuji: Book of the Atlantic (2017),Animation,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.400000,5,2018-06-27-02-33-40
7691572,Cyborgs: Heroes Never Die (2017),Action|Drama|War,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.400000,5,2018-02-22-08-10-26
2077886,The Phantom of the Opera at the Royal Albert H...,Drama|Music|Musical|Romance|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.333333,9,2018-05-13-23-18-29
5733210,Terra (2015),Documentary,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.333333,6,2017-03-22-11-13-33
1857724,Hidden Colors (2011),Documentary,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.333333,6,2016-12-28-17-17-53
6781498,No Stone Unturned (2017),Documentary,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.250000,8,2018-08-05-15-30-22
1198101,Kites (2010),Action|Drama|Romance|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.200000,5,2017-09-16-17-30-31
4973112,Hitting the Apex (2015),Documentary|Sport,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.166667,6,2017-10-25-18-50-08
5027202,Colombia magia salvaje (2015),Documentary,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.142857,7,2017-06-19-23-17-39
5098836,I Believe in Miracles (2015),Documentary|History|Sport,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.100000,10,2018-04-27-22-13-39
1375666,Inception (2010),Action|Adventure|Sci-Fi|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.017580,967,2020-04-26-21-46-17
3863552,Bajrangi Bhaijaan (2015),Action|Comedy|Drama,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.010050,199,2019-07-26-07-01-04
6067832,Batman &amp; Bill (2017),Documentary|Animation|Mystery,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.000000,5,2018-07-16-02-33-35
1935828,Jim Jefferies Alcoholocaust (2010),Documentary|Comedy,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.000000,5,2016-08-30-07-28-21
770802,Samsara (2011),Documentary|Music,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.893939,66,2019-01-27-14-04-45
1188996,My Name Is Khan (2010),Drama,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.873684,95,2019-07-06-11-54-51
3270538,Requiem for the American Dream (2015),Documentary|Biography|News,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.857143,21,2020-04-12-03-34-38
1606384,Mai wei (2011),Action|Drama|War,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.857143,21,2020-04-01-17-02-15
3832914,War Room (2015),Drama,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.857143,21,2017-07-30-23-01-00
1675434,The Intouchables (2011),Biography|Comedy|Drama,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.841986,886,2020-04-17-12-30-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4076980,The Throwaways (2015),Action|Comedy|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.714286,7,2020-02-08-23-26-22
3480796,Vice (2015),Action|Adventure|Sci-Fi|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.657143,35,2018-05-04-15-44-16
5721088,Just Getting Started (2017),Action|Comedy,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.625000,16,2019-08-20-11-07-50
1316037,Birdemic: Shock and Terror (2010),Action|Comedy|Horror|Romance|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.625000,16,2018-04-25-17-24-33
4114762,Ask Sana Benzer (2015),Drama,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.571429,7,2015-08-12-21-58-35
4382872,Extraction (2015),Action|Adventure|Crime|Drama|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.541667,24,2020-04-12-12-37-22
4163224,Most Likely to Die (2015),Horror,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.533333,15,2019-08-17-02-45-14
2364842,The Ouija Experiment (2011),Horror,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.500000,6,2017-04-22-15-01-57
1139592,Jeepers Creepers 3 (2017),Action|Horror|Mystery|Thriller,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.473684,19,2020-04-11-21-19-24
1633356,Shark Night 3D (2011),Horror|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.454545,11,2017-08-25-01-41-27
3622332,Sword of Vengeance (2015),Action|Adventure,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.444444,9,2016-11-12-08-57-32
4416518,Shark Lake (2015),Action|Adventure|Crime|Drama|Horror|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.400000,5,2016-12-12-23-58-03
1748197,Setup (2011),Action|Crime|Drama,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.375000,8,2020-03-22-01-57-14
2910508,Dark Summer (2015),Horror|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.375000,8,2017-03-03-06-33-44
3203620,The Dinner (2017),Crime|Drama|Thriller,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.178571,28,2019-05-20-16-26-09
2090629,The Culling (2015),Horror|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.142857,7,2016-06-19-17-21-35
1227789,Rites of Spring (2011),Horror|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.142857,7,2016-01-05-03-51-22
3399484,The Sand (2015),Comedy|Horror|Sci-Fi|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.000000,6,2018-05-28-01-25-12
7296862,SPF-18 (2017),Romance,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.000000,5,2019-01-02-07-12-13
7312940,Singularity (2017),Action|Adventure|Drama|Sci-Fi,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.000000,5,2018-12-07-22-22-58
1137470,Accidental Love (2015),Comedy|Romance,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.937500,16,2019-04-07-04-20-23
3910736,Salty (2017),Action|Adventure|Comedy|Crime|Thriller,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.800000,5,2018-06-25-05-43-53
1523267,Arctic Blast (2010),Action|Adventure|Drama|Sci-Fi|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.800000,5,2016-02-20-20-35-18
3727824,The Ouija Experiment 2: Theatre of Death (2015),Horror,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.714286,7,2018-04-21-17-09-51
5669936,The Recall (2017),Action|Sci-Fi|Thriller,2017,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.500000,6,2018-09-06-05-16-37
3551400,Unnatural (2015),Action|Horror|Sci-Fi|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.400000,5,2017-11-02-00-09-08
3561236,Containment (2015),Horror|Sci-Fi|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.200000,5,2016-06-17-20-43-01
4475992,Belly of the Bulldog (2015),Action|Horror|Mystery|Sci-Fi|Thriller|War,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1.800000,5,2019-03-15-13-58-24
3108604,American Poltergeist (2015),Horror|Thriller,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1.666667,6,2018-10-14-17-47-29
4458206,Kod Adi K.O.Z. (2015),Crime|Mystery,2015,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1.000000,30,2018-01-20-04-44-12

In [51]:
ranked_movies[['Sci-Fi','History']].sum(axis=1)

movie_id
4921860     2
5262972     2
6662050     2
2737018     2
5804314     2
2560840     2
2219210     2
9882084     2
4448444     2
5131914     2
2059318     2
1431149     2
5512872     2
4148400     2
9536832     2
6798422     2
111341      2
1629443     2
2592910     2
2396421     2
5732482     2
6054758     2
5134588     2
363473      2
2265179     2
5323386     2
8902990     2
2357788     2
1826550     2
73440       2
           ..
2006801     2
3283792     2
5988370     2
5669936     2
2325518     2
1540767     2
3551400     2
2357489     2
185183      2
829176      2
3104304     2
2622826     2
3561236     2
3036740     2
7086706     2
1098327     2
2147365     2
93300       2
105585      2
2573750     2
4743562     2
1213644     2
60666       2
3588588     2
4475992     2
10367276    2
3108604     2
3187378     2
4458206     2
7923374     2
Length: 11538, dtype: int64

In [41]:
ranked_movies[ranked_movies['date'].isin(["2010","2011","2012"])]

,movie,genre,date,1800's,1900's,2000's,Thriller,Music,Musical,Adult,...,Horror,Action,Drama,News,Mystery,Family,Adventure,avg_rating,num_ratings,last_rating
movie_id,,,,,,,,,,,,,,,,,,,,,
2219210,Crawl Bitch Crawl (2012),Horror|Sci-Fi|Thriller,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,6,2013-07-22-23-30-52
2059318,Third Contact (2011),Drama|Mystery|Sci-Fi|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,10.000000,5,2014-02-13-15-48-31
1629443,Foster (2011),Comedy|Drama|Family,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.800000,5,2014-03-15-23-37-57
2366308,Everything or Nothing: The Untold Story of 007...,Documentary,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.400000,5,2015-08-16-06-47-36
2077886,The Phantom of the Opera at the Royal Albert H...,Drama|Music|Musical|Romance|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.333333,9,2018-05-13-23-18-29
1857724,Hidden Colors (2011),Documentary,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.333333,6,2016-12-28-17-17-53
2373324,Men at Lunch (2012),Documentary|Mystery,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.285714,7,2014-06-18-14-15-25
1198101,Kites (2010),Action|Drama|Romance|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.200000,5,2017-09-16-17-30-31
1934205,Ce que le jour doit Ã la nuit (2012),Drama|Romance,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.107143,28,2019-08-06-05-35-51
1375666,Inception (2010),Action|Adventure|Sci-Fi|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.017580,967,2020-04-26-21-46-17
1293751,Casting By (2012),Documentary,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.000000,7,2017-01-21-16-07-27
1935828,Jim Jefferies Alcoholocaust (2010),Documentary|Comedy,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.000000,5,2016-08-30-07-28-21
1566501,For Greater Glory: The True Story of Cristiada...,Drama|History|War,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,9.000000,5,2013-10-18-07-24-09
1758610,Unconditional (2012),Biography|Crime|Drama,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.937500,16,2016-02-08-02-33-49
2354205,McCullin (2012),Documentary,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.909091,11,2017-08-02-03-40-34
770802,Samsara (2011),Documentary|Music,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.893939,66,2019-01-27-14-04-45
2358911,Berserk: Ougon jidai-hen II - Dorudorei koryak...,Animation|Action|Adventure|Fantasy|Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.882353,17,2020-02-25-15-20-17
1773764,Ship of Theseus (2012),Drama,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.875000,8,2015-06-06-02-42-22
1188996,My Name Is Khan (2010),Drama,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.873684,95,2019-07-06-11-54-51
1606384,Mai wei (2011),Action|Drama|War,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.857143,21,2020-04-01-17-02-15
1675434,The Intouchables (2011),Biography|Comedy|Drama,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.841986,886,2020-04-17-12-30-09
1736049,A Place at the Table (2012),Documentary,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.833333,6,2015-12-26-03-03-49
2220642,Bad 25 (2012),Documentary|Music,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.833333,6,2015-08-21-18-09-28
1990352,The Island President (2011),Documentary,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.833333,6,2015-08-03-21-06-28
1255953,Incendies (2010),Drama|Mystery|War,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.827368,475,2020-04-25-16-31-20
2125423,5 Broken Cameras (2011),Documentary|War,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.785714,28,2018-08-09-17-50-51
1853563,Foo Fighters: Back and Forth (2011),Documentary|Music,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.750000,12,2018-07-12-18-16-24
2370140,Crossfire Hurricane (2012),Documentary|Biography|Music,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.750000,8,2018-07-12-20-11-45
2700330,The Two Escobars (2010),Documentary|Biography|Sport,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.750000,8,2017-08-02-04-52-44
1201607,Harry Potter and the Deathly Hallows: Part 2 (...,Adventure|Drama|Fantasy|Mystery,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,8.736220,254,2020-04-22-23-40-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1727360,She Wants Me (2012),Comedy,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.800000,5,2015-02-18-17-35-37
1459013,Uninhabited (2010),Horror|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.800000,5,2014-08-30-01-06-09
810913,Jack and Jill (2011),Comedy,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.787234,47,2018-12-28-21-28-30
1781775,Beneath the Darkness (2011),Horror|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.750000,8,2014-06-04-18-53-59
1313244,Hypothermia (2010),Horror,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.727273,11,2015-03-25-07-39-29
2171847,Dead Mine (2012),Action|Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.666667,9,2014-09-30-17-51-22
2396701,The Haunting of Whaley House (2012),Fantasy|Horror|Mystery|Thriller,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.666667,6,2013-10-06-07-40-39
1714203,Piranha 3DD (2012),Comedy|Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.634146,41,2018-07-18-03-44-51
1316037,Birdemic: Shock and Terror (2010),Action|Comedy|Horror|Romance|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.625000,16,2018-04-25-17-24-33
2050633,The Barrens (2012),Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.583333,12,2014-11-19-09-36-36
1702009,Strippers vs Werewolves (2012),Action|Comedy|Crime|Fantasy|Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.571429,7,2017-12-19-16-02-53
2364842,The Ouija Experiment (2011),Horror,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.500000,6,2017-04-22-15-01-57
2049511,No Tell Motel (2012),Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.500000,6,2015-08-18-20-52-46
1633356,Shark Night 3D (2011),Horror|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.454545,11,2017-08-25-01-41-27
1852770,Dracula (2012),Horror|Romance|Thriller,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.454545,11,2014-10-22-00-47-19
2256749,Mammas pojkar (2012),Comedy,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.428571,7,2014-12-12-17-40-50
1989485,Dead Before Dawn 3D (2012),Adventure|Comedy|Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.400000,5,2014-04-26-04-21-56
1748197,Setup (2011),Action|Crime|Drama,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.375000,8,2020-03-22-01-57-14
2071491,Jurassic Shark (2012),Action|Adventure|Comedy|Fantasy|Horror|Sci-Fi|...,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.375000,8,2016-08-13-21-56-46
2104837,A Common Man (2012),Action|Thriller,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.333333,6,2015-11-23-17-59-10
2226283,Alleen maar nette mensen (2012),Comedy|Drama,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.333333,6,2015-02-14-22-50-22
1988781,Seven Below (2012),Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.200000,5,2014-08-18-13-33-43
1227789,Rites of Spring (2011),Horror|Thriller,2011,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,3.142857,7,2016-01-05-03-51-22
1523267,Arctic Blast (2010),Action|Adventure|Drama|Sci-Fi|Thriller,2010,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.800000,5,2016-02-20-20-35-18
2088923,The Cloth (2012),Action|Fantasy|Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.750000,8,2013-08-30-00-46-27
2040578,Alien Uprising (2012),Comedy|Horror|Sci-Fi,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.714286,7,2018-11-19-07-01-36
2006801,Night of the Living Dead: Resurrection (2012),Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.666667,6,2013-12-27-16-07-36
1540767,Apartment 1303 3D (2012),Horror,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.434783,23,2016-09-19-17-37-17
829176,Gallowwalkers (2012),Action|Horror|Thriller|Western,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.269231,26,2018-02-07-04-59-11
2147365,Keith Lemon: The Film (2012),Comedy,2012,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,2.142857,21,2015-02-01-00-52-05

In [ ]:
## t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])

In [56]:
def popular_recs_filtered(user_id, n_top,ranked_movies,years,genres):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    ranked_movies_years = ranked_movies[ranked_movies['date'].isin(years)]
    ranked_movies_genres = ranked_movies_years[genres].sum(axis=1)
    ranked_movies = ranked_movies_years.loc[ranked_movies_genres > 0,:]
    top_movies = list(ranked_movies["movie"][:n_top])
    
    return top_movies # a list of the n_top movies as recommended

In [60]:
top_20 = popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])

In [61]:
top_20

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Five Minutes (2017)',
 'Let There Be Light (2017)',
 'Make Like a Dog (2015)',
 'Pandorica (2016)',
 'Be Somebody (2016)',
 'Agnelli (2017)',
 'Hans Zimmer Live on Tour (2017)',
 'Kirik Party (2016)',
 'Chasing Asylum (2016)',
 'Poshter Girl (2016)',
 'Dag II (2016)',
 'Take the Ball, Pass the Ball (2018)',
 'Chasing Coral (2017)',
 'Kuroshitsuji: Book of the Atlantic (2017)',
 'Cyborgs: Heroes Never Die (2017)',
 'Hannah Gadsby: Nanette (2018)',
 "Hillary's America: The Secret History of the Democratic Party (2016)",
 'Coldplay: A Head Full of Dreams (2018)']